@media only screen and (max-width: 449px) 
{
body {background-color: red;}
h2 {font-size: 22px;}
p {font-size: 12px;}
#Small , #Medium, #Large {width: 100%; margin:10px;}
}

*{
box-sizing: border-box;
}

@media only screen and (min-width: 450px)
{
body {background-color: green;}
h2 {font-size: 28px;}
p {font-size: 14px;}
#Small {width: 30%; float: left; padding:10px; margin:10px;}
#Medium {width: 60%; float: right; padding:10px; margin:10px;}
#Large {width: 100%; float:left; padding:10px; margin:10px;}
}

@media only screen and (min-width: 768px)
{
body {background-color: blue;}
h2 {font-size: 34px;}
p {font-size: 16px;}
#Small , #Medium, #Large {width: 30%; margin: 0; padding: 10px; margin:10px; display: inline-block;}
#Medium {float: left}
}